h1 {
    font-size: 30px;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator-body {
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    height: 415px; /*change this to % of body*/
    width: 300px; /*change this to % of body*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    border-style: solid;
    border-width: 1px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

#button-pad {
    display: flex;
    padding-top: 20px;
}

.num {
    font-size: 55px;
    border-style: solid;
    border-width: 1px;
    width: 60px;
    height: 60px;
}

.opr, .spc , #eql{    
    font-size: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opr, .num, .spc, #eql{
    text-align: center;
}

#num-pad {
    width: 75%;
    /* background-color: aquamarine; */
    display: flex;
    gap: 25px;
    column-gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

#operators {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

#mix {
    display: flex;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    gap: 21.5px;
}

button {
    margin: 0;
    padding: 0;
}

#answer {
    font-size: 20px;
}
/* 1350-628 = width = 722
111-1211 = height = 1100
width:height = 1:1.5 maybe 1:1.75 or 1:1.6 */